---
import "@fontsource-variable/dm-sans";
import Container from "../components/Container.astro";
import SharedLayout from "../layouts/SharedLayout.astro";
---

<SharedLayout>
  <div class="container">
    <Container />
  </div>
</SharedLayout>
