---
import Image from "astro/components/Image.astro";
import SharedLayout from "./SharedLayout.astro";

const {frontmatter} = Astro.props;
---

<SharedLayout>
    <a href="/">Back to Portoflio</a>
    <div class="image-container">
        <Image src={frontmatter.preview_image_url} alt={frontmatter.title} width="100" height="100" class="w-full h-auto" />
    </div>
<slot/>
</SharedLayout>

